@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html, body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

.main-content{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.main-content #hotel-item{
    flex: 1;
}

h2{
    color: #000000;
    font-size: 2.5vw;
}

h3{
    color: #000000;
    font-size: 1.5vw;
    text-decoration: underline;
}

p{
    color: #ffffff;
    font-size: 1rem;
}

a, li{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.2rem;
    display: block;    
}


/*HEADER*/

header{
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color:#edde05;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    width: 100%;
    
}
.logo-header {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.logo-header img{
    width: 55px;
    height: auto;
}

.nav-menu {
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    position: relative;
}

.nav-menu ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-menu li{
    margin-right: 3rem;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-menu a:hover{
    color: red;
    
}
.nav-menu li:last-child{
    background-color: #ec870c;
    border: 4.5px solid #ec870c;
    padding: 0.25rem, 0.75rem;
    border-radius: 0.2rem;

}

.nav-menu li:last-child:hover{
    background: #ec870c;
    border: 4.5px solid #ec870c;
    border-radius: 50px;
}

.checkbtn {
    display: none;
}

.menu-icon{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.menu-icon img{
    width: 30px;
    height: 30px;

}

.menu-icon, #check{
    display: none;
}


/*INDEX*/
.map-alucivo{
    width: 100%;
    height: 100%;
    padding-top: 5px;
    overflow: hidden;
    flex-wrap: wrap;
}

/*GRID*/
.hotel-item-img{
    width: 450px;
    height: 400px;
    margin: 20px;
    
}

.hotel-grid{
    margin: 30px;
    background-color: #ec870c;
    border-radius: 20px;
    height: 2000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px 20px;
    place-content: center;
    place-items: center;   
}

.hotel-item-detail{
    margin: 10px;
}

.detail{
    border-bottom: 3px solid #ffffff;
}

.hotel-grid a:hover{
    color: red;
}


/*HISTORIA*/
#histo-id{
    background-color: #ec870c;
    margin: 30px;
    border-radius: 20px;
    
}

#histo-p{
    color: white;
    font-size:x-large;
    padding: 2rem;
    text-align: center;
}


/*FORMULARIO DE CONTACTO*/
form{
    background-color: #ec870c;
    margin: 30px;
    padding: 55px 250px;
    border-radius: 20px;
    text-align: center;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

label{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 3px solid #808080;
    color: black;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: rgb(124, 124, 124)
}

.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a{
    color: rgb(255, 0, 0);
    
}

.form-txt a:hover{
    color: #00ff55;
}

.form-btn{
    font-size: 16px;
    color: white;
    border: 0;
    border-radius: 25px;
    background-color: #ff0000;
    cursor: pointer;
    border: 3px solid rgb(131, 131, 131);
}

.form-btn:hover{
    background-color: red;
    border: 3px solid red;
}

.form-h2{
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
}

.txt-label{
    color: rgb(255, 255, 255);
    font-size: 1.5vw ;
}

.error{
    color: red;
    border-color:red;
}

.error2{
    border-color: red;
}

  
/*FOOTER*/
#footer {
    align-items: center;
    background-color:#edde05;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    gap: 20px;
    justify-content: center;
    flex-shrink: 0;
}

#footer a{
    text-decoration: none;
    color: #FFF;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    
}

.tooltip-span{
    display: none;
    position:fixed;
    background-color: #2a2a2a;
    border: 1px solid white;
    line-height: 20px;
    z-index: 500;
    text-align: center;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    left: 50px;
    right: 50px;
    bottom: 30px;
}

.tooltip:hover .tooltip-span{
    display: inline-block;
}


/*MEDIA QUERIS*/
@media screen and (max-width:672px) {
    
    header {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: sticky;
    }

    .logo-header img {
        width: 40px;
    }

    .nav-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #2a2a2a;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-menu ul {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav-menu ul li {
        margin: 1.5rem 0;
    }

    .nav-menu ul li:last-child {
        padding: 1rem;

    }

    .checkbtn{
        display: block;
    }

    .menu-icon{
        display:inline-flex;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
    #check:checked ~ .nav-menu{
        transform: translateX(0);
    }

    #check{
        display: none;
    }

    .map-alucivo img{
        width: 100%;    
        height: 100%;
    }

    h2 {
        font-size: 3vw;
    }

    h3 {
        font-size: 2.5vw;
    }

    p{
        font-size: 1.5vw;
    }

    a {font-size: 1.5vw;

    }

    .hotel2{
        padding: 1rem;
    }

    .hotel-grid {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,1fr);
        height: 2400px;
        padding: 1px;
        grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px;
        justify-content:flex;
        flex-direction: row;
    }

    .hotel-item-img{
        width: 100%;
        height: auto;
        margin: 2px;
    }

    .hotel-item-detail{
        padding: 1px;
    }

    #footer {
        height: auto;
        padding: 1rem 0;
        flex-direction: column;
        align-items: center;
    }

    #footer a {
        margin: 0.5rem 0;
        font-size: 0.75rem;
    }

    .deco-p{
        display: none;
    }

    form{
        margin: 30px;
        padding: 55px 50px;
    }

    .txt-label{
        font-size: 3vw;
    }

    .form-h2{
        font-size: 4vw;
    }

    
}

@media screen and (max-width:900px) {
    header {
        padding: 0.5rem 1rem;
        align-items: flex-start;
        width: 100%;
        position: sticky;
    }

    .logo-header img {
        width: 45px;
    }

    .nav-menu li {
        margin-right: 2rem;
    }
    
    h2 {
        font-size: 2.5vw;
    }

    h3 {
        font-size: 2vw;
    }

    p{
        font-size: 1.5vw;
    }

    a {font-size: 2.5vw;
        text-align: center;

    }

    .hotel2{
        padding: 1rem;
    }

    .hotel-grid { 
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
        height: 1500px;
        justify-content:flex;
        flex-direction: row;
    }

    .hotel-item-img{
        width: 100%;
        height: auto;
        margin: 2px;
    }

    .hotel-item-detail{
        margin: 20px;
    }

    form{
        margin: 30px;
        padding: 55px 120px;
    }

    main {
        padding: 1rem;
        font-size: 1rem;
    }
    #footer{
        height: 80px;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .map-alucivo img{
        width: 100%;
        align-items: center;
    }

    
}
@media screen and (min-width:900px) {
    header {
        padding: 0.5rem 2rem;
    }

    .logo-header img {
        width: 55px;
    }

    .nav-menu li {
        margin-right: 3rem;
    }

    h2 {
        font-size: 2vw;
    }

    h3 {
        font-size: 1.5vw;
    }

    p{
        font-size: 1.5vw;
    }

    a {font-size: 2.5vw;
        text-align: center;

    }

    .hotel2{
        padding: 1rem;
    }

    .hotel-grid { 
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        height: 2000px;
        justify-content:flex;
        flex-direction: row;
    }

    .hotel-item-img{
        width: 100%;
        height: auto;
        margin: 2px;
    }

    .hotel-item-detail {
        margin: 10px;
    }

    form {
        margin: 30px;
        padding: 55px 250px;
    }

    main {
        padding: 1rem;
        font-size: 1rem;
    }

    #footer {
        height: 100px;
        padding: 1rem;
        flex-direction: row;
        align-items: center;
    }

    .map-alucivo img {
        width: 100%;
        height: 100%;
        padding-top: 5px;
        overflow: hidden;
        flex-wrap: wrap;
    }
}